# Visual Studio Code
/.vscode/

# JetBrains
/.idea/

# macOS
.DS_Store

# Blade
/blade-bin
/build32_debug/
/build32_release/
/build64_debug/
/build64_release/
/build.ninja
/.Building.lock
/.blade.test.stamp
/BLADE_ROOT.local
